DATABASE_URL=""
JWT_SECRET=""
JWT_EXPIRES_IN="1d"

# ====== MINIO STORAGE CONFIG ======
MINIO_ENDPOINT="127.0.0.1"
MINIO_PORT=9000
MINIO_USE_SSL=false
MINIO_ACCESS_KEY=""      # Ganti pake access key lu bro
MINIO_SECRET_KEY=""      # Ganti pake secret key lu bro
MINIO_BUCKET_NAME=""  # Nama folder raksasa kita di MinIO